@font-face {
    font-family: "BasisGrotesquePro";
    src: url(../font/BasisGrotesquePro-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "BasisGrotesquePro";
    src: url(../font/BasisGrotesquePro-Medium.woff2) format('woff2');
    font-weight: 500;
}
