footer {
    background-color: #969696;

    .footer-wrap {
        width: 100%;
        padding: 132px 11.388vw 92px;
        @include desktop {
            padding: 60px 20px;
        }

        @include mobile {
            flex-direction: column;
            padding: 10px;
        }

        display: flex;
        .left {
            flex: 0 0 34.35%;
            @include desktop {
                flex: 0;
            }

            .title {
                transform-origin: 0 0;
                transform: rotate(-90deg) translateX(-100%);
                display: inline-block;
                font-weight: 600;
                font-size: 100px;
                line-height: 10rem;
                letter-spacing: -0.25rem;
                @include desktop {
                    font-size: 60px;
                    font-weight: 500;
                }

                @include mobile {
                    transform: rotate(0deg);
                    font-size: 45px;
                }
            }
        }

        .right {
            flex: 1 1 auto;
            .right-top {
                border-bottom: 1px solid #000;
                width: 75.28%;
                margin: 0 0 52px;
                padding: 0 0 52px;
                display: flex;
                flex-direction: column;
                @include desktop {
                    width: 100%;
                }

                a {
                    width: fit-content;
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 3.8rem;
                    color: #000;
                    overflow: hidden;
                    display: inline-block;
                    position: relative;
                    --width: 0%;
                    @include desktop {
                        font-size: 30px;
                    }

                    @include mobile {
                        font-size: 20px;
                    }
                    &::after {
                        content: "";
                        background-color: #000;
                        width: var(--width);
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                .link-tell {
                    margin-top: 12px;
                    @include mobile {
                        font-weight: 400;
                        font-size: 20px;
                        margin-top: 0;
                    }
                }
            }

            .right-bottom {
                display: flex;
                @include mobile {
                    flex-direction: column;
                    gap: 20px;
                }
                .address {
                    flex: 0 0 50%;
                    .title {
                        margin: 0 0 32px;
                        position: relative;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        @include mobile {
                            margin: 0 0 10px;
                        }
                        &::before {
                            content: "";
                            border-radius: 50%;
                            background-color: #000;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 5px;
                            left: -17px;
                            @include mobile {
                                display: none;
                            }
                        }
                    }
                    address {
                        font-size: 18px;
                        line-height: 2rem;
                        display: block;
                        @include mobile {
                            font-size: 15px;
                        }
                    }
                }

                .follow {
                    flex: 0 0 50%;
                    .title {
                        margin: 0 0 32px;
                        position: relative;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        @include mobile {
                            margin: 0 0 10px;
                        }

                        &::before {
                            content: "";
                            border-radius: 50%;
                            background-color: #000;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            top: 5px;
                            left: -24px;
                            @include mobile {
                                display: none;
                            }
                        }
                    }

                    .sns-item {
                        & > a[class*="link-"] {
                            font-size: 18px;
                            line-height: 2rem;
                            gap: 10px;
                            display: flex;
                            align-items: center;
                            @include mobile {
                                font-size: 15px;
                            }
                            &:hover {
                                opacity: 0.5;
                                transition: opacity 0.25s;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #969696;
        line-height: 2rem;
        padding: 20px 0;

        .bottom-wrap {
            width: 100%;
            padding: 0 11.388vw;
            display: flex;
            justify-content: space-between;
            @include desktop {
                padding: 0 20px;
            }

            @include mobile {
                flex-direction: column;
                padding: 0 10px;
            }

            .copy,
            .link-made {
                font-size: 14px;
            }
        }
    }
}
